<div class="page-title">
	<h1>Seja bem-vindo ao admin.</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ipsum neque optio minima adipisci sint, amet, voluptatum ducimus ad perspiciatis tempora inventore repudiandae libero iure, praesentium. Voluptatibus id officiis commodi.</p>
</div>