          <!-- Blog Entries Column -->
            <% @posts.each do |post| %>
                <%= content_tag :h2, link_to(post.title, post) -%>

                <p class="lead"> Por <a href="index.php">RoR</a> </p>

                <p><i class="fa fa-clock-o"></i> Postado em <%=l post.published_at, format: :basic -%></p>
                <hr>

                <img class="img-responsive" src="http://lorempixel.com/900/300/technics/Apply/" alt=""> 
                <hr>
                <%= content_tag :p, post.resume -%>
                
                <%= link_to post_path(post), class: "btn btn-primary" do %>
					Detalhes <i class="fa fa-chevron-right"></i>                
                <% end %>

                <hr>
            <% end %>


                <!-- Paginação-->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Anterior</a>
                    </li>
                    <li class="next">
                        <a href="#">Próximo &rarr;</a>
                    </li>
                </ul>
