    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Curso Ruby on Rails</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><%= link_to 'Página Principal', root_path %></li>
                  <li><%= link_to 'Posts', posts_path %></li>
                  <li><%= link_to 'Contatos', contacts_path %></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="icon fa fa-facebook-official"></i></a></li>
                    <li><a href="#"><i class="icon fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="icon fa fa-github"></i></a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <section class="header-cam">
        <div class="container">
            <div class="col-md-1 logo-cam">
                <%= link_to image_tag("logo.png", width: "89", height: "100", alt: ""), root_path, title: "Curso RuPor On Rails" %>
            </div>
            <div class="col-md-5 cam-name"> 
                <h2>Curso RoR Semest 2015.1</h2>
                <p>Curso de RuPor on rails para iniciante</p>
            </div>
            <div class="col-md-6">  
                <div class="input-group search-cam hidden-xs">
                    <form action="http://portalv1.com.br/blogs/camara-municipal-de-valenca" method="GET" class="form-inline form-search-cam">
                        <div class="form-group">
                            <input type="text" name="s" class="form-control placeholder" placeholder="Perquisar">
                        </div>  
                        <span class="input-group bnt-cam-search">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search cam-icon-search"></i></button>
                        </span>
                    </form> 
                </div><!-- /input-group -->
            </div>
        </div>
    </section>